* {
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 28%, 15%);
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}


/*header*/

nav {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: -5px;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding: 20px 45px;
}

li a:hover {
    text-decoration: underline;
    font-weight: 700;
}

@media screen and (max-width: 375px) {
    * {
        max-width: 375px;
        margin: 0;
    }
    .logo {
        width: 35%;
    }
    ul {
        margin: 20px 0 20px 0;
        overflow: hidden;
    }
    li a {
        padding: 20px 10px;
        margin-right: 0;
    }
}


/*Body*/

.image {
    display: block;
    margin: auto;
    width: 50%;
}

div.section1 {
    background-image: url(/images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    text-align: center;
    padding-bottom: 15%;
}

button {
    background-color: hsl(198, 60%, 50%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 30px;
    padding: 20px 55px 20px 55px;
}

button:hover {
    background-color: hsl(176, 68%, 64%);
}


/* First Section*/

.row {
    background-color: hsl(218, 28%, 13%);
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
    margin-bottom: 60px;
}

.column p {
    width: 80%;
    padding-left: 20%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}


/*Second*/

.column1 {
    float: left;
    width: 50%;
    padding: 10px;
}

.column1 h2 {
    padding-top: 10%;
}

.column1 a {
    color: hsl(198, 60%, 50%);
}

.column1 a:hover {
    color: hsl(0, 0%, 100%);
}


/*third section*/

.column3 {
    float: left;
    width: 33.33%;
    padding: 0 30px;
}

.row3 {
    margin: 0 -1px;
    background-color: hsl(218, 28%, 13%);
    padding: 30px;
    top: 0;
    right: 0;
    z-index: 20;
}

.row3::after {
    content: "";
    display: table;
    clear: both;
}

#quote {
    position: absolute;
    margin-left: 30px;
}

.card {
    /* this adds the "card" effect */
    padding: 16px;
    margin-bottom: 20px;
    text-align: center;
    background-color: hsl(217, 28%, 15%);
}


/*media query*/

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.column3 p {
    text-align: center;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: hsl(217, 28%, 15%);
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.subaccess {
    background-color: hsl(217, 28%, 15%);
    float: left;
    width: 70%;
    padding: 10px 80px;
    margin-left: 15%;
    margin-bottom: 30px;
    text-align: center;
}

.access {
    margin: 0 -5px;
    background-color: hsl(218, 28%, 13%);
}

.access::after {
    content: "";
    display: table;
    clear: both;
}

input {
    border: none;
    border-radius: 25px;
    padding: 15px;
    margin: 35px 15px 35px 15px;
}

#email {
    width: 60%;
}

#button1 {
    background-color: hsl(198, 60%, 50%);
    color: hsl(0, 0%, 100%);
    width: 20%;
}

#button1:hover {
    background-color: hsl(176, 68%, 64%);
}


/*footer*/

footer {
    background-color: hsl(216, 53%, 9%);
    padding-top: 80px;
    padding-left: 30px;
}

#location {
    margin-right: 10px;
}

.columnF {
    float: left;
    width: 20%;
    padding: 0 10px;
}

.rowF {
    margin: 0 -1px;
    top: 0;
    right: 0;
    z-index: 20;
}

.rowF::after {
    content: "";
    display: table;
    clear: both;
}

.link:hover {
    font-weight: 700;
    cursor: pointer;
}

i {
    margin-left: 8px;
}

i:hover {
    cursor: pointer;
    color: hsl(176, 68%, 64%);
}